<div class="containerCards">
  <ngx-masonry [updateLayout]="updateMasonryLayout">
    <div *ngIf="isHomePage" ngxMasonryItem class="masonry-item">
       <button class="btn btn-outline-dark" (click)="goToAddProductPage()">ADD</button>
<!--      <app-card [card]="listCards[0]" [isHomePage]="isHomePage" (updateGrid)="updateGrid()"></app-card>-->
    </div>
    <div ngxMasonryItem class="masonry-item" *ngFor="let item of listCards">
      <app-card [card]="item" [isHomePage]="isHomePage" (updateGrid)="updateGrid()"></app-card>
    </div>
  </ngx-masonry>
</div>
