<!--<div class="containerCards">-->
<!--  <app-card *ngFor="let card of listCards" [card]="card"></app-card>-->
<!--</div>-->
<!--<div class="containerCards">-->
<!--  <div class="row" data-masonry='{"percentPosition": true }'>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4">-->
<!--      <div class="card">-->
<!--        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"-->
<!--             role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">-->
<!--          <title>Placeholder</title>-->
<!--          <rect width="100%" height="100%" fill="#868e96"></rect>-->
<!--          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>-->
<!--        </svg>-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card title that wraps to a new line</h5>-->
<!--          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional-->
<!--            content. This content is a little bit longer.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 0px;">-->
<!--      <div class="card p-3">-->
<!--        <figure class="p-3 mb-0">-->
<!--          <blockquote class="blockquote">-->
<!--            <p>A well-known quote, contained in a blockquote element.</p>-->
<!--          </blockquote>-->
<!--          <figcaption class="blockquote-footer mb-0 text-muted">-->
<!--            Someone famous in <cite title="Source Title">Source Title</cite>-->
<!--          </figcaption>-->
<!--        </figure>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 66.6633%; top: 0px;">-->
<!--      <div class="card">-->
<!--        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"-->
<!--             role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">-->
<!--          <title>Placeholder</title>-->
<!--          <rect width="100%" height="100%" fill="#868e96"></rect>-->
<!--          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>-->
<!--        </svg>-->

<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card title</h5>-->
<!--          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
<!--          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 201px;">-->
<!--      <div class="card bg-primary text-white text-center p-3">-->
<!--        <figure class="mb-0">-->
<!--          <blockquote class="blockquote">-->
<!--            <p>A well-known quote, contained in a blockquote element.</p>-->
<!--          </blockquote>-->
<!--          <figcaption class="blockquote-footer mb-0 text-white">-->
<!--            Someone famous in <cite title="Source Title">Source Title</cite>-->
<!--          </figcaption>-->
<!--        </figure>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 370px;">-->
<!--      <div class="card text-center">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card title</h5>-->
<!--          <p class="card-text">This card has a regular title and short paragraph of text below it.</p>-->
<!--          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 66.6633%; top: 402px;">-->
<!--      <div class="card">-->
<!--        <svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img"-->
<!--             aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>-->
<!--          Placeholder</title>-->
<!--          <rect width="100%" height="100%" fill="#868e96"></rect>-->
<!--          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text>-->
<!--        </svg>-->

<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 410px;">-->
<!--      <div class="card p-3 text-end">-->
<!--        <figure class="mb-0">-->
<!--          <blockquote class="blockquote">-->
<!--            <p>A well-known quote, contained in a blockquote element.</p>-->
<!--          </blockquote>-->
<!--          <figcaption class="blockquote-footer mb-0 text-muted">-->
<!--            Someone famous in <cite title="Source Title">Source Title</cite>-->
<!--          </figcaption>-->
<!--        </figure>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 548px;">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Card title</h5>-->
<!--          <p class="card-text">This is another card with title and supporting text below. This card has some additional-->
<!--            content to make it slightly taller overall.</p>-->
<!--          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;width2 grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height3"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;width3"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;width2 grid-item&#45;&#45;height3"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;width2 grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;width2"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height3"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height2"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item"></div>-->
<!--  <div class="grid-item grid-item&#45;&#45;height2"></div>-->
<!--</div>-->



<!--<div class="container">-->
<!--  <div class="row" data-masonry='{"percentPosition": true }'>-->
<!--    <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus corporis cupiditate-->
<!--      deleniti dicta ea, esse excepturi fugit nulla odio provident qui quidem quo quod sit totam unde ut velit!-->
<!--    </div>-->
<!--    <div class="col-3">Dignissimos eveniet ex molestiae obcaecati officia omnis suscipit? A atque autem culpa-->
<!--      dignissimos error est eum ex laboriosam, perferendis qui. Aspernatur assumenda consequatur ea explicabo minus qui-->
<!--      quod similique voluptates!-->
<!--    </div>-->
<!--    <div class="col-3">Autem debitis illo iusto labore, libero natus necessitatibus provident voluptas. Atque,-->
<!--      blanditiis consectetur eaque facilis maxime minus mollitia natus neque nihil nulla quas quasi quibusdam quis-->
<!--      repellendus repudiandae, suscipit vitae.-->
<!--    </div>-->
<!--    <div class="col-3">Ea facere ipsa laborum pariatur tenetur! Ad consequatur esse, explicabo hic ipsa iusto laborum,-->
<!--      maiores necessitatibus nesciunt nobis odio placeat quam qui, quod repellat repudiandae temporibus? Aliquid dolore-->
<!--      quod reprehenderit?-->
<!--      Ea facere ipsa laborum pariatur tenetur! Ad consequatur esse, explicabo hic ipsa iusto laborum,-->
<!--      maiores necessitatibus nesciunt nobis odio placeat quam qui, quod repellat repudiandae temporibus? Aliquid dolore-->
<!--      quod reprehenderit?-->
<!--    </div>-->
<!--    <div class="col-3">Ea facere ipsa laborum pariatur tenetur! Ad consequatur esse, explicabo hic ipsa iusto laborum,-->
<!--      maiores necessitatibus nesciunt nobis odio placeat quam qui, quod repellat repudiandae temporibus? Aliquid dolore-->
<!--      quod reprehenderit?-->
<!--    </div>-->
<!--    <div class="col-3">Ea facere ipsa laborum pariatur tenetur! Ad consequatur esse, explicabo hic ipsa iusto laborum,-->
<!--      maiores necessitatibus nesciunt nobis odio placeat quam qui, quod repellat repudiandae temporibus? Aliquid dolore-->
<!--      quod reprehenderit?-->
<!--      Ea facere ipsa laborum pariatur tenetur! Ad consequatur esse, explicabo hic ipsa iusto laborum,-->
<!--      maiores necessitatibus nesciunt nobis odio placeat quam qui, quod repellat repudiandae temporibus? Aliquid dolore-->
<!--      quod reprehenderit?-->
<!--    </div>-->
<!--    <div class="col-3">Ea facere ipsa laborum pariatur tenetur! Ad consequatur esse, explicabo hic ipsa iusto laborum,-->
<!--      maiores necessitatibus nesciunt nobis odio placeat quam qui, quod repellat repudiandae temporibus? Aliquid dolore-->
<!--      quod reprehenderit?-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="containerCards">
<ngx-masonry [updateLayout]="updateMasonryLayout">
  <div ngxMasonryItem class="masonry-item" *ngFor="let item of listCards">
    <app-card [card]="item" (open)="updateMasonryLayout = true"></app-card>
  </div>
</ngx-masonry>
</div>

<!--<div class="container py-2">-->
<!--  <div class="row" data-masonry='{"percentPosition": true }'>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">With supporting text.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">With supporting some more text below as a natural lead-in to additional content.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">lead-in to additional content.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">With supporting text below as a natural lead-in to additional content and more spporting text below ... content. additional content.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">With more more more supporting text.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4 col-md-3 py-3">-->
<!--      <div class="card border-primary">-->
<!--        <div class="card-body">-->
<!--          <h3 class="card-title">Card</h3>-->
<!--          <p class="card-text">With supporting text.</p>-->
<!--          <a href="#" class="btn btn-outline-secondary">Outline</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--<div class="container-fluid">-->
<!--  <div class="grid">-->
<!--    <div class="grid-sizer col-xs-4">-->
<!--    -->
<!--    </div>-->
<!--    <div class="grid-item col-xs-8">-->
<!--      <div class="grid-item-content">-->

<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid-item col-xs-4">-->
<!--      <div class="grid-item-content">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
