$cardWidth: 250px;
$rowIncrement: 10px;
$cardBorderRadius: 16px;
$CardSmall: 26;
$cardMedium: 33;
$cardLarge: 45;

.pin_container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  grid-auto-rows: $rowIncrement;
  justify-content: center;
}
