.containerCards {
  width: 100%;
  //display: grid;
  //overflow-y: hidden;
  //grid-template-columns: repeat(auto-fill, 250px);
  //grid-auto-rows: 360px;
  //justify-content: center;
}
//.grid-item {
//  width: 160px;
//  height: 120px;
//  float: left;
//  background: #D26;
//  border: 2px solid #333;
//  border-color: hsla(0, 0%, 0%, 0.5);
//  border-radius: 5px;
//}
//.grid-item--width2 { width: 320px; }
//.grid-item--width3 { width: 480px; }
//.grid-item--width4 { width: 640px; }
//
//.grid-item--height2 { height: 200px; }
//.grid-item--height3 { height: 260px; }
//.grid-item--height4 { height: 360px; }
//
//


//:host {
//  display: block;
//  margin-top: 1rem;
//}
//
//.grid {
//  margin: 0 auto;
//}

.masonry-item {
  padding: 25px 0 20px 0;
  //margin-bottom: 10px;
  margin: 0 10px 30px 10px;
  max-width: 200px;
}

//.card {
//  display: inline-block;
//}
