.inputTitle{
  background-color: white;
  width: 80%;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}
.tagField{
  width: 80%;
}
.descriptionArea{
  width: 80%;
}
.formNewProduct{
  //margin-top: 20px;
  //margin-left: 10%;
}
.formGroup{
  //margin-top: 10px;
  margin-left: auto;
  width: 80%;
}
.dropFile{
  margin-bottom: 15px;
}
.schema{

}
