<!--<button mat-button class="menu-button">-->
<!--  <mat-icon>settings_ethernet</mat-icon>-->
<!--  <a routerLink="edit" class="text-light">Магазин</a>-->
<!--</button>-->
<button mat-button class="menu-button">
  <mat-icon>archive</mat-icon>
  <a routerLink="orders" class="text-light">Заказы</a>
</button>
<button mat-button class="menu-button">
  <mat-icon>favorite</mat-icon>
  <a routerLink="liked-products" class="text-light">Избранное</a>
</button>
<!--<button mat-button class="menu-button">-->
<!--  <mat-icon>favorite</mat-icon>-->
<!--  <a routerLink="/users" class="text-light">Подписки</a>-->
<!--</button>-->
<mat-divider></mat-divider>
<button mat-button class="menu-button">
  <mat-icon>chat</mat-icon>
  <a routerLink="messages" class="text-light">Сообщения</a>
</button>
<button mat-button class="menu-button">
  <mat-icon>notifications_none</mat-icon>
  <a routerLink="edit" class="text-light">Уведомления</a>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
  <mat-icon>settings</mat-icon>
  <a routerLink="/lk/settings" class="text-light">Настройки</a>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
  <mat-icon>exit_to_app</mat-icon>
  <a routerLink="edit" class="text-light">Выход</a>
</button>
