<div class="profileBar">
  <div class="userName">{{profile?.username}}</div>
  <div class="name">{{profile?.name || "Васильев Егор" }}</div>
  <div class="rating">
    <mat-icon>star</mat-icon>
    <span>4.2</span>
  </div>
  <app-avatar></app-avatar>
    <div class="socialButtons">
      <a href="#">Подписаться</a>
      <a href="#">Написать</a>
    </div>
  <div class="countSale">
    <div class="lastSeen">

    </div>
    <div class="countNumber">

    </div>
  </div>
  <div class="description">
    Молодой дизайнер. Шью для вас.
  </div>
</div>
