<div class="historyOrderItem" *ngFor="let item of historyOrdersList">
  <tui-island size="l">
    <div class="d-flex justify-content-start">
      <div class="imageBoxForMyOrdersHistory">
        <img src="https://i.picsum.photos/id/514/300/300.jpg?hmac=cWjIdfi9OoXTpWCC_x4On9HehQ1N0FSR6MxanIRMcfQ">
      </div>
      <div class="historyOrderInfo">
        <div class="historyOrderInfoHeader d-flex justify-content-between">
          <div class="">
            ORD 32112313 13
          </div>
          <p class="tui-island__category text-end">Закрыто</p>
        </div>
        <div class="historyOrderInfoContent">
          <h3 class="tui-island__title historyOrderInfoTitle">Some heading</h3>
          <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
          </p>
        </div>
        <div class="historyOrderInfoFooter">
          <span class="d-flex align-items-center">
            <mat-icon class="tui-space_right-1">
              favorite_border
            </mat-icon>
            23
          </span>
        </div>
      </div>
    </div>
  </tui-island>
</div>


