mat-sidenav {
  overflow: hidden;
  margin: 16px;
  width: 200px;
  border-right: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 5px;
  margin: 1rem 0 0 1rem;
}

mat-sidenav-container {
  background-color: white;
}

mat-sidenav .mat-sidenav-container {
  overflow: hidden;
}
