//.container {
//  display: flex;
//  flex-direction: column;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}
//
//.mat-drawer.mat-drawer-side {
//  padding: 0 5px;
//}
//

//
//.conversation-header h2,
//.conversation-header p {
//  align-items: center;
//  display: flex;
//}
//
//.text-center {
//  text-align: center;
//  width: 100%;
//}
//
//.conversation-history.mat-list {
//  height: calc(100% - 180px);
//  overflow-x: scroll;
//  position: absolute;
//  width: 100%;
//}
//
//.conversation-history.mat-list p {
//  margin: 0;
//}
//
//.empty-conversation h1 {
//  margin: 0;
//}
//
//.conversations .mat-list-item {
//  cursor: pointer;
//}
//
//.mat-card {
//  height: 100%;
//  padding: 0 24px;
//  overflow: scroll;
//}
//.conversation-input {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  background-color: #fafafa;
//}
//
//section .mat-list .mat-list-avatar {
//  width: 25px;
//  height: 25px;
//}
//
//.mat-list-avatar {
//  margin: 0 5px;
//}
//
//.right {
//  text-align: right;
//}
//
//.full-width {
//  width: 100%;
//}
//
//.full-width .mat-icon {
//  cursor: pointer;
//}

.conversations {
  cursor: pointer;
  background-color: white;
  height: 100vh;
}

.conversations {
}

.conversation-card {
  min-height: 90px;
}

.messageData {
  margin-left: 10px;
  overflow: hidden;
}

.chatUserName {
  font-size: 1.2rem;
  font-weight: 500;
}

.lastMessage {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 12px;
}

.lastMessageTime {
  position: absolute;
  right: 5px;
}

.empty-conversation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chatHeader h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}

.lastSeen {
  font-size: 0.9rem;
  color: #6c757d;
}

.chatContent {
  min-height: 832px;
  position: relative;
  top: 0;
}
