.empty-conversation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chatHeader h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}

.lastSeen {
  font-size: 0.9rem;
  color: #6c757d;
}

.chatContent {
  min-height: 832px;
  position: relative;
  top: 0;
}
