<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <a
        tuiButton
        class=""
        [routerLink]="['../create']"
        appearance="flat"
        [icon]="icon"
        (click)="showDialog(template)"
      >
        Добавить товар
      </a>
      <ng-template #icon>
        <mat-icon class="createOrdersAddIcon tui-space_left-1">add</mat-icon>
      </ng-template>


      <app-cards [listCards]="listCards" [isHomePage]="true"></app-cards>
<!--      <mat-tab-group mat-align-tabs="start" class="tabs">-->
<!--        <mat-tab label="Магазин">-->
<!--          <div class="cardsWrapper">-->
<!--          -->
<!--          </div>-->
<!--        </mat-tab>-->
<!--        <mat-tab label="Понравилось">Понравилось</mat-tab>-->
<!--        <mat-tab label="Подписи">Подписи</mat-tab>-->
<!--      </mat-tab-group>-->
    </div>
    <div class="col-3">
      <app-right-profile-navbar [profile]="userProfileData"></app-right-profile-navbar>
    </div>
  </div>
</div>

<ng-template #template let-observer>
</ng-template>
