<div class="cardItem card_medium card" (click)="click()">
  <!--  <div class="cardModal">22</div>-->
  <div class="cardContent">
     <div *ngIf="clicked">
       oh yeah
     </div>
    <div class="defaultPhoto">
      <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI"
           alt="image" *ngIf="card.size === 'medium'">
      <img src="https://i.picsum.photos/id/48/200/200.jpg?hmac=3FKJwSlm1FM1GD916vZX2Z3HUjHsUXvQM3rYWYXsQvc"
           alt="image" *ngIf="card.size === 'small'">
      <img src="https://i.picsum.photos/id/30/500/200.jpg?hmac=40j93kHi7aLLphS9asc5UfT7ZAwWdKRsb-z2EnzSuHY"
           alt="image" *ngIf="card.size === 'large'">

    </div>
    <div *ngIf="clicked">
      oh yeah
    </div>
  </div>
</div>

<!--<div class="pin_container">-->
<!--  <div class="card_medium">-->
<!--    <div class="card card_medium" style="opacity: 1;">-->
<!--      <div class="pin_image">-->
<!--        <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI"-->
<!--             alt="image" class="defaultPhoto">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
