<div class="cardItem card_medium card">
  <!--  <div class="cardModal">22</div>-->
  <div class="cardContent">
    <div class="defaultPhoto">
      <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI"
           alt="image">
    </div>
  </div>
</div>


<!--<div class="pin_container">-->
<!--  <div class="card_medium">-->
<!--    <div class="card card_medium" style="opacity: 1;">-->
<!--      <div class="pin_image">-->
<!--        <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI"-->
<!--             alt="image" class="defaultPhoto">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
