<!--<div class="containerSidenav">-->
<!--  <div class="avatar">-->
<!--    <app-avatar [imageUrl]="user?.avatar"></app-avatar>-->
<!--  </div>-->
<!--  <h4 class="myName" (click)="goHomePage()">{{user.username}}</h4>-->
<!--  <app-star-ratings [rating]="rating" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-ratings>-->
<!--  <p class="designation text-light text-center">-->
<!--    {{rating}}-->
<!--    <span class="countFeedback text-light">(124)</span></p>-->
<!--  <mat-divider></mat-divider>-->
<!--  <app-lk-navbar-items></app-lk-navbar-items>-->
<!--</div>-->


<div class="sidebar close" #sideBarMenu>
  <div class="toggleMenuBtn">
    <mat-icon (click)="toggleNavbar()" class="toggleMenu">menu</mat-icon>
  </div>
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">SHOOTS</span>
  </div>
  <ul class="nav-links">
    <li *ngFor="let link of navLinks">
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt' ></i>
<!--          <ng-template *ngIf="link.icon">-->
<!--            <mat-icon>{{link.icon}}</mat-icon>-->
<!--          </ng-template>-->
          <span class="link_name">{{link.label}}</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu" *ngIf="link.subLinks">
        <li *ngFor="let subLink of link.subLinks"><a class="link_name" [routerLink]="subLink.link">{{subLink.label}}</a></li>
      </ul>
    </li>
<!--    <li>-->
<!--      <div class="profile-details">-->
<!--        <div class="profile-content">-->
<!--          <img src="image/profile.jpg" alt="profileImg">-->
<!--        </div>-->
<!--        <div class="name-job">-->
<!--          <div class="profile_name">Prem Shahi</div>-->
<!--          <div class="job">Web Desginer</div>-->
<!--        </div>-->
<!--        <i class='bx bx-log-out' ></i>-->
<!--      </div>-->
<!--    </li>-->
  </ul>
</div>

