<!--<div class="containerSidenav">-->
<!--  <div class="avatar">-->
<!--    <app-avatar [imageUrl]="user?.avatar"></app-avatar>-->
<!--  </div>-->
<!--  <h4 class="myName" (click)="goHomePage()">{{user.username}}</h4>-->
<!--  <app-star-ratings [rating]="rating" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-ratings>-->
<!--  <p class="designation text-light text-center">-->
<!--    {{rating}}-->
<!--    <span class="countFeedback text-light">(124)</span></p>-->
<!--  <mat-divider></mat-divider>-->
<!--  <app-lk-navbar-items></app-lk-navbar-items>-->
<!--</div>-->

<mat-icon>favorite</mat-icon>
<button class="btn btn-outline-dark" (click)="toggleNavbar()">SHOW/HIDE</button>
<div class="sidebar close" #sideBarMenu>

  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">CodingLab</span>
  </div>
  <ul class="nav-links">
    <li *ngFor="let link of navLinks">
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">{{link.label}}</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu" *ngIf="link.subLinks">
        <li *ngFor="let subLink of link.subLinks"><a class="link_name" [routerLink]="subLink.link">{{subLink.label}}</a></li>
      </ul>
    </li>
  </ul>
</div>

<i class='bx bx-menu' ></i>

<!--<button class="btn btn-success">ОТКРЫТЬ</button>-->
<!--<mat-icon>menu</mat-icon>-->

<!--<section class="home-section">-->
<!--  <div class="home-content">-->

<!--    <span class="text">Drop Down Sidebar</span>-->
<!--  </div>-->
<!--</section>-->
