<tui-primitive-textfield
  [invalid]="computedInvalid"
  [focusable]="focusable"
  [tuiTextfieldType]="'text'"
  [iconContent]="'tuiIconSearch'"
  [value]="value"
  (valueChange)="onValueChange($event)"
  (focusedChange)="onFocused($event)"
>
</tui-primitive-textfield>

<ng-template #iconContent>
  <tui-svg
    class="icon"
    tuiHintId="not_required"
    [tuiHint]="hintContent"
    [src]="icon"
    (click)="clickSearch()"
  ></tui-svg>
</ng-template>

<ng-template #hintContent>{{hint}}</ng-template>
