.registrationPage {

  .nextStepButton {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    //margin-left: 10%
    //margin: 0 auto;
  }

  .stepButtonWrap {
    width: 60%;
    margin: 0 auto;
  }


  .secondStepRegistration {
    width: 60%;
    margin: 0 auto;

    .secondFormNextStepButton {
      width: 50%;
    }
    .skipStepButton{
      margin-top: 20px;
      width: 30%;
    }
  }

  .firstFormGroup {
    width: 60%;
    margin: 0 auto;

    .registrationInput {
      margin-top: 20px;
    }
  }

  .secondFormGroup {
    width: 60%;
    margin: 0 auto;

    .registrationInput {
      margin-top: 20px;
    }
  }

  .labelForRecommendedStep{
    margin-left: 1.25rem;
    padding-bottom: 0;
  }

  .image {
    display: block;
    max-width: calc(100% + 2.5rem);
    margin: -1.25rem -1.25rem 1.25rem;
    border-radius: var(--tui-radius-l) var(--tui-radius-l) 0 0;
  }

  .tui-group > * {
    flex: inherit;
    min-width: 0;
  }

  .registrationGenderBtnGroup {
    display: flex;
  }

  tui-wrapper[data-appearance='custom'] {
    margin-top: 20px;

    background: #bc71c9;
    color: #fff;

    &[data-state='hovered'] {
      background: #a381ff;
    }

    &[data-state='pressed'] {
      background: #8f75d1;
    }

    &[data-state='disabled'] {
      background: #eaecee;
    }
  }

  .recommendedCardsWrap{
    width: fit-content;
    margin: 1.25rem;
    padding: 0;
  }

  .recommendedIsland{
    max-width: 300px;
    margin-bottom: 1.5rem;
  }
  .cardNameStyle{
    position: absolute;
    bottom: -3em;
  }
  .regStylesCardImg{
    border-radius: 0.625rem;
    max-height: 400px;
  }

}
