<div class="container registrationPage">
  <mat-stepper [linear]="'true'" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-container *ngTemplateOutlet="firstRegistrationStep"></ng-container>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    </mat-step>
    <mat-step>
    </mat-step>
  </mat-stepper>

</div>
<ng-template #firstRegistrationStep>
  <form [formGroup]="firstFormGroup" class="firstFormGroup">
    <tui-input class="b-form registrationInput" formControlName="email" >
      Email адрес
    </tui-input>
    <tui-input class="b-form registrationInput" formControlName="username">
      Введите username
    </tui-input>
    <tui-input-password  class="b-form registrationInput" formControlName="password" type="password">
      Введите пароль
    </tui-input-password>
    <button tuiButton appearance="custom" class="nextStepButton">Продолжить</button>
  </form>

</ng-template>
