.labelFavoriteItem{
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.likedProductsList{
  margin-top: 1rem;
}
.btnToggleView{
  font-size: 14px;
  height: 2.1rem;
  //margin-bottom: -4px;
  border-radius: 10px;
  width: 70px;
}
.subscribersUserName{
  margin-top: 5px;
  font-size: 16px;
}
.subscribersItem{
  margin-left: 20px;
}

.favoriteWrap{
  margin-top: 1rem;
}
