.myOrdersPage {
  .createOrdersAddIcon{
    font-size: 30px;
  }
  .historyOrdersWrap{
    margin-top: 10px;
  }

}
.createOrderModal {
.createOrderModalItem{
  margin-bottom: 1rem;
}

}
.createOrdersButtonFooter{
  margin-top: 30px;
}
