@import "typography-styles.scss.css";

.lkContent {
  width: 98%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.lkRightBar {
  width: 30%;
}

.boldText {
  font-weight: 500;
}


.pointerElement {
  cursor: pointer;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

.mat-tab-label::ng-deep {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red !important;
  font-size: 43px;
  font-weight: 700;
}

.modal-content {
  border: 0 !important;
  -webkit-border-radius: 14px !important;
  -moz-border-radius: 14px !important;
  border-radius: 14px !important;
}

.mat-snack-bar-container {
  width: 500px !important;
  //max-width: 800px!important;
  //text-align: center;
  height: 60px !important;
  //background-color: bisque;
  //color: black;
  font-size: 34px;
  z-index: 100;
}

.cardPrice:after {
  content: "\20BD";
  margin-left: 3px;
}

.placeholder {
  background-color: transparent !important;
}

//.modal-content {
//  overflow: hidden;
//}
