@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

.example-form {
  min-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.message {
  width: fit-content;
}

.chatHeader h2 {
  margin: 0;
}

.sendMessageBtn {
  border: 0;
  font-size: 1.1rem;
  font-family: Red hat Display, sans-serif;
  font-weight: 500;
  background-color: inherit;
}

.chat {
  height: calc(90vh - 130px);
  overflow-y: scroll;
  -ms-overflow-y: scroll;
}
