<!--<div class="pin_container">-->
<!--  <div [ngClass]="'card card_'+item.size" *ngFor="let item of listCards">-->
<!--    &lt;!&ndash;        <div class="pin_modal">&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;          <div class="modal_head">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;            <div class="save_card avatar_user_card">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;              <img src="https://source.unsplash.com/c_GmwfHBDzk/50x50">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;            <div class="save_card">Like</div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--    &lt;!&ndash;          <div class="modal_foot">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="pint_mock_icon_container-full">&ndash;&gt;-->
<!--    &lt;!&ndash;              <p class="text-center text-light itemProductName">Lorem ipsum dolor sit.</p>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="destination text-center">&ndash;&gt;-->
<!--    &lt;!&ndash;              <div class="pint_mock_icon_container text-center">&ndash;&gt;-->
<!--    &lt;!&ndash;                <mat-icon aria-hidden="false">attach_money</mat-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;              </div>&ndash;&gt;-->
<!--    &lt;!&ndash;              <span>{{item.price}}</span>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->

<!--    &lt;!&ndash;          <div class="pint_mock_icon_container">&ndash;&gt;-->
<!--    &lt;!&ndash;            <img src="assets/img/send.png" alt="send" class="pint_mock_icon">&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->

<!--    &lt;!&ndash;          <div class="pint_mock_icon_container">&ndash;&gt;-->
<!--    &lt;!&ndash;            <img src="assets/img/ellipse.png" alt="edit" class="pint_mock_icon">&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    <div class="pin_image">-->
<!--      <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI"-->
<!--           alt="image">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
  <div class="row">
    <app-cards [listCards]="listCards"></app-cards>
  </div>


